In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path='/content/drive/MyDrive/CSE 234/data/dedup-data-6187_37728.csv'

In [64]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook as tqdm
from nltk.util import ngrams 
from sklearn.feature_extraction.text import CountVectorizer

In [117]:
df=pd.read_csv(path)

In [118]:
df.head()

   Unnamed: 0 w1 w2   count1   count2    total1    total2  isDuplicate
0           0  n  N    877.0    877.0  158026.0  158026.0          1.0
1           1  n  Y    877.0    877.0  158026.0  158026.0          0.0
2           2  N  n   6295.0   6295.0  158026.0  158026.0          1.0
3           3  y  N   2260.0   2260.0  158026.0  158026.0          0.0
4           5  Y  N  16358.0  16358.0  158026.0  158026.0          0.0

In [108]:
def generate_n_grams(word,n):
    return list(ngrams(word,n))

In [109]:
# df['unigram_1']=df['w1'].apply(lambda x:generate_n_grams(x,1))
# df['bigram_1']=df['w1'].apply(lambda x:generate_n_grams(x,2))

# df['unigram_2']=df['w2'].apply(lambda x:generate_n_grams(x,1))
# df['bigram_2']=df['w2'].apply(lambda x:generate_n_grams(x,2))
# # df['trigrams']=df['w1'].apply(lambda x:generate_n_grams(x,3))

In [126]:
df['w1']=df['w2'].apply(lambda x:x.lower())
df['w2']=df['w2'].apply(lambda x:x.lower())
df['w1_number_of_words']=df['w1'].apply(lambda x:len(list(x.split(' '))))
df['w2_number_of_words']=df['w2'].apply(lambda x:len(list(x.split(' '))))

In [127]:
df.head(10)

   Unnamed: 0                      w1  ... w1_number_of_words  w2_number_of_words
0           0                       n  ...                  1                   1
1           1                       y  ...                  1                   1
2           2                       n  ...                  1                   1
3           3                       n  ...                  1                   1
4           5                       n  ...                  1                   1
5           6                       y  ...                  1                   1
6           9                       y  ...                  1                   1
7          10  west midlands (region)  ...                  3                   3
8          11         buckinghamshire  ...                  1                   1
9          12           west midlands  ...                  2                   2

[10 rows x 10 columns]

In [128]:
alphabets='abcdefghijklmnopqrstuvwxyz '
bigram_list=list(itertools.permutations(list(alphabets),2))
def unigram_count(word, ch):
    count=0
    for c in word:
        if(c==ch):
            count+=1
    return count

for w in ['w1', 'w2']:
    for ch in list(alphabets):
        df[w+'_unigram_{}'.format(ch)] = df[w].apply(lambda x: x.count(ch))

for w in ['w1', 'w2']:
    for ch in list(bigram_list):
        df[w+'_bigram_{}'.format(ch[0]+ch[1])] = df[w].apply(lambda x: x.count(ch[0]+ch[1]))

In [129]:
df.head(10)

   Unnamed: 0                      w1  ... w2_bigram_ y  w2_bigram_ z
0           0                       n  ...            0             0
1           1                       y  ...            0             0
2           2                       n  ...            0             0
3           3                       n  ...            0             0
4           5                       n  ...            0             0
5           6                       y  ...            0             0
6           9                       y  ...            0             0
7          10  west midlands (region)  ...            0             0
8          11         buckinghamshire  ...            0             0
9          12           west midlands  ...            0             0

[10 rows x 1468 columns]

In [130]:
df.describe()

         Unnamed: 0         count1  ...  w2_bigram_ y  w2_bigram_ z
count  43915.000000   43915.000000  ...  43915.000000  43915.000000
mean   46793.944871    1071.680884  ...      0.031402      0.004213
std    29579.134516    8142.605356  ...      0.178914      0.064769
min        0.000000       1.000000  ...      0.000000      0.000000
25%    20352.000000       2.000000  ...      0.000000      0.000000
50%    45567.000000      23.000000  ...      0.000000      0.000000
75%    72586.000000     330.000000  ...      0.000000      0.000000
max    99989.000000  344323.000000  ...      3.000000      1.000000

[8 rows x 1466 columns]

In [132]:
df.to_csv('featurized_dedup.csv')

In [121]:
df.head(10)

   Unnamed: 0                      w1  ... w1_number_of_words  w2_number_of_words
0           0                       n  ...                  1                   1
1           1                       n  ...                  1                   1
2           2                       N  ...                  1                   1
3           3                       y  ...                  1                   1
4           5                       Y  ...                  1                   1
5           6                       Y  ...                  1                   1
6           9                       y  ...                  1                   1
7          10           West Midlands  ...                  2                   3
8          11                   Dyfed  ...                  1                   1
9          12  West Midlands (Region)  ...                  3                   2

[10 rows x 10 columns]

In [125]:
df.head(10)

   Unnamed: 0                      w1  ... w1_number_of_words  w2_number_of_words
0           0                       n  ...                  1                   1
1           1                       y  ...                  1                   1
2           2                       n  ...                  1                   1
3           3                       n  ...                  1                   1
4           5                       n  ...                  1                   1
5           6                       y  ...                  1                   1
6           9                       y  ...                  1                   1
7          10  west midlands (region)  ...                  2                   3
8          11         buckinghamshire  ...                  1                   1
9          12           west midlands  ...                  3                   2

[10 rows x 10 columns]