In [1]:
import pandas as pd
import numpy as np

In [105]:
path = '../../data/error_analysis_RF_fullData.csv'
df = pd.read_csv(path, usecols=['w1', 'w2', 'ground_truth', 'prediction'])

In [106]:
df['len w1'] = df['w1'].apply(lambda x: len(x))
df['len w2'] = df['w2'].apply(lambda x: len(x))

In [107]:
df['isCorrect'] = df['ground_truth']==df['prediction']

In [108]:
statesDic = {
    'alabama': 'al',
    'alaska': 'ak',
    'americansamoa': 'as',
    'arizona': 'az',
    'arkansas': 'ar',
    'california': 'ca',
    'colorado': 'co',
    'connecticut': 'ct',
    'delaware': 'de',
    'districtofcolumbia': 'dc',
    'florida': 'fl',
    'georgia': 'ga',
    'guam': 'gu',
    'hawaii': 'hi',
    'idaho': 'id',
    'illinois': 'il',
    'indiana': 'in',
    'iowa': 'ia',
    'kansas': 'ks',
    'kentucky': 'ky',
    'louisiana': 'la',
    'maine': 'me',
    'maryland': 'md',
    'massachusetts': 'ma',
    'michigan': 'mi',
    'minnesota': 'mn',
    'mississippi': 'ms',
    'missouri': 'mo',
    'montana': 'mt',
    'nebraska': 'ne',
    'nevada': 'nv',
    'newhampshire': 'nh',
    'newjersey': 'nj',
    'newmexico': 'nm',
    'newyork': 'ny',
    'northcarolina': 'nc',
    'northdakota': 'nd',
    'northernmarianaislands': 'mp',
    'ohio': 'oh',
    'oklahoma': 'ok',
    'oregon': 'or',
    'pennsylvania': 'pa',
    'puertorico': 'pr',
    'rhodeisland': 'ri',
    'southcarolina': 'sc',
    'southdakota': 'sd',
    'tennessee': 'tn',
    'texas': 'tx',
    'utah': 'ut',
    'vermont': 'vt',
    'virginislands': 'vi',
    'virginia': 'va',
    'washington': 'wa',
    'westvirginia': 'wv',
    'wisconsin': 'wi',
    'wyoming': 'wy'
}

In [125]:
def state_abv(x):
    if x in statesDic:
        return statesDic[x] 
    else:
        return x
df['w1'] = df['w1'].apply(lambda x: state_abv("".join(x.split()).lower()))
df['w2'] = df['w2'].apply(lambda x: state_abv("".join(x.split()).lower()))

### False Positives

In [134]:
falsePositives = df[(df['isCorrect']==False) & (df['ground_truth']==0.0)]
falsePositives

,w1,w2,ground_truth,prediction,len w1,len w2,isCorrect
231,intermission-third,intermission,0.0,1.0,18,12,False
248,exportsofgoodsandservices,importsofgoodsandservices,0.0,1.0,29,29,False
363,ca-dvbeca-mbca-sbca-sbembemosbsdvosb,ca-dvbeca-mbca-sbca-sbecdvbembemosbsbsbasdb,0.0,1.0,42,51,False
510,120,20,0.0,1.0,3,2,False
631,wv,va,0.0,1.0,13,8,False
736,japan,afghanistan,0.0,1.0,5,11,False
783,leveldollaropen,leveldollar,0.0,1.0,17,12,False
810,chicagopark,chicago,0.0,1.0,12,7,False
1456,layer2up,layer3up,0.0,1.0,10,10,False
2476,leveldollar,leveldollaropen,0.0,1.0,12,17,False
2495,12,"12,17",0.0,1.0,2,5,False
2545,importsofgoodsandservices,exportsofgoodsandservices,0.0,1.0,29,29,False
2735,intermission,intermission-third,0.0,1.0,12,18,False
2834,intermission,intermission-third,0.0,1.0,12,18,False
3206,ca-dvbeca-mbca-sbca-sbecdvbembemosbsbsbasdb,ca-dvbeca-mbca-sbca-sbembemosbsdvosb,0.0,1.0,51,42,False
3361,layer3up,layer2up,0.0,1.0,10,10,False

### False Negatives

In [120]:
falseNegatives = df[(df['isCorrect']==False) & (df['ground_truth']==1.0)]
falseNegatives.shape

(90, 7)

In [127]:
falseNegatives

          w1      w2  ground_truth  prediction  len w1  len w2  isCorrect
58      year      yr           1.0         0.0       4       2      False
80        ak      ak           1.0         0.0       2       6      False
174       ri      ri           1.0         0.0      12       2      False
184       nj      nj           1.0         0.0       2      10      False
191       ms      ms           1.0         0.0       2      11      False
...      ...     ...           ...         ...     ...     ...        ...
3160      ms      ms           1.0         0.0       2      11      False
3173      mo      mo           1.0         0.0       8       2      False
3227  lemnos  limnos           1.0         0.0       6       6      False
3273      nc      nc           1.0         0.0       2      14      False
3291      nj      nj           1.0         0.0       2      10      False

[90 rows x 7 columns]

In [133]:
falseNegatives[falseNegatives['w1']!=falseNegatives['w2']].shape

(14, 7)

In [31]:
falseNegatives.groupby(['len w1']).sum()

        ground_truth  prediction  len w2  isCorrect
len w1
2               46.0         0.0     413          0
3                2.0         0.0      15          0
4                4.0         0.0       8          0
5                7.0         0.0      15          0
6                4.0         0.0       8          0
7                6.0         0.0      22          0
8                4.0         0.0       8          0
9                4.0         0.0       8          0
10               3.0         0.0      12          0
11               1.0         0.0       2          0
12               4.0         0.0       8          0
13               3.0         0.0       7          0
14               4.0         0.0      24          0
17               2.0         0.0      34          0
18               1.0         0.0      14          0
20               2.0         0.0       4          0
21               1.0         0.0      26          0
26               1.0         0.0      21          0

In [32]:
falseNegatives.groupby(['len w2']).sum()

        ground_truth  prediction  len w1  isCorrect
len w2
1                2.0         0.0       4          0
2               42.0         0.0     363          0
3                2.0         0.0      18          0
4                1.0         0.0       2          0
5                1.0         0.0       2          0
6                7.0         0.0      14          0
7                7.0         0.0      14          0
8                9.0         0.0      26          0
9                5.0         0.0      10          0
10               5.0         0.0      10          0
11               1.0         0.0       2          0
12               3.0         0.0      11          0
13               3.0         0.0       7          0
14               3.0         0.0      22          0
15               1.0         0.0       2          0
17               2.0         0.0      34          0
18               1.0         0.0      14          0
21               1.0         0.0      26          0
24               2.0         0.0       4          0
26               1.0         0.0      21          0

### Remove States

### Keep Words with len>2

In [37]:
longWordsDF = df[(df['len w1']>2) & (df['len w2']>2)]

In [48]:
falseNegativesLong = longWordsDF[(longWordsDF['isCorrect']==False) & (longWordsDF['ground_truth']==1.0)]
falsePositivesLong = longWordsDF[(longWordsDF['isCorrect']==False) & (longWordsDF['ground_truth']==0.0)]

In [46]:
df[df['ground_truth']==1].shape

(553, 7)

In [53]:
falseNegativesLong

,w1,w2,ground_truth,prediction,len w1,len w2,isCorrect
49,kurhaus,kurhaus-saal,1.0,0.0,7,12,False
745,prd,prdnationwide,1.0,0.0,3,13,False
867,associate counsel,associate council,1.0,0.0,17,17,False
1167,"partner, pryor cashman llp","pasricha & patel, llc",1.0,0.0,26,21,False
1908,associate council,associate counsel,1.0,0.0,17,17,False
2211,prdnationwide,prd,1.0,0.0,13,3,False
2506,month,mth,1.0,0.0,5,3,False
3198,senior partner,sr. staff attorney,1.0,0.0,14,18,False
3273,"pasricha & patel, llc","partner, pryor cashman llp",1.0,0.0,21,26,False
3337,well being,wellness,1.0,0.0,10,8,False
3372,sr. staff attorney,senior partner,1.0,0.0,18,14,False